extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner MIT Module 3 - My First Docker
        div.Message
            div.Title
            h3 MIT Cloud & DevOps
            h4 NPM packages: express, pug
            h4 Page layout tutorial from auth0.com
            h4 Docker sent to the Docker Hub
            h1 Msetim's Sites
            span.Details Go ahead, choose one!
        div.NavButtons
            a(href="https://github.com/msetim")
                div.NavButton GoTo GitHub!
            a(href="https://hub.docker.com/repository/docker/msetim/mit_docker")
                div.NavButton GoTo Docker Hub!
                
